@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("/bg.svg") no-repeat;
  background-size: cover;
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 1350px) {
  body {
    margin: auto 2rem;
  }
}
